body {
	overflow-x: hidden;
}

.right-nav {

	display: flex;
	justify-content: center;
	align-items: center;
}

.left-nav {

	display: flex;
	justify-content: center;
	align-items: center;
}

div > ul > li {
	list-style-type: none;
	padding: 0px 5px;

}




.jumbotron {
	display: block;
   	background-image:url(img/che.jpg);
   	background-repeat: no-repeat;
   	z-index: 0;
	width: inherit;
    /*margin-top: 0px;*/
    padding: 0 0;
    margin: 0 0;

}

.jumbotron2 {
	display: block;
   	background-image:url(img/header.jpg);
   	background-repeat: no-repeat;
   	z-index: 0;
	width: inherit;
    /*margin-top: 0px;*/
    padding: 0 0;
    margin: 0 0;

}

.test{
	background-color: rgba(0,0,0,0.3);
	transition: all 0.5s ease;
	z-index: 1;
	!important;
}

.test:hover{
	background-color: rgba(0,0,0,0);
	z-index: 1;
}

.container {
	/*color : transparent;*/
	/*text-shadow: 0px 0px 0px white;*/
	display: block;
    margin: 0 0;
    padding: 0 0;
    width: 100%;
	font-family: 'Roboto Thin';
	color: white;
}

/*.body_container {

}
*/
.container .jumbotron, .container-fluid .jumbotron {
    padding-right: 0px;
    padding-left: 0px;
}

.subjumbo{
/*    position: absolute;*/
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    bottom: 0;
    width: 100%;
    height: 700px;
    /*display: block;*/
    padding: 0;
    padding-right: 0px;
    margin: 0px 0px 0px 0px;
	display: flex;
	justify-content: center;
	align-items: center;

}

.body_container {
	display: inline-table;
	justify-content: center;
	align-items: center;
	margin-top: 450px;
	margin-left: 20px;
}

/*.right-nav > li {

	list-style-type: none;
	padding: 0px 5px;
		position: fixed;

}*/

.divright {
	right : 10%;
}

header {

	top: 0;
	left: 0;
	right: 0;
	z-index: 1000000;
	background-color: rgb(170, 236, 230);
	display: block;
	position: fixed;
}

div {
	display: block;

}

footer{
	bottom: 0;
	left: 0;
	right: 0;
	text-align: center;
	background-color: #b98a8a;
	height: 200px;
}



.flexbox {

	display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
}


section {
	display: flex;
	justify-content: space-around;
	align-items: center;
	/*padding: 50px;*/
	/*padding: 20px 50px;*/

}

article {

	border : 1px black solid;
	padding: 30px;
    margin: 21px;
}

@font-face {
	font-family: 'Roboto'; 
	src: url("https://fonts.googleapis.com/css?family=Roboto");
}

html {
	font-family: 'Roboto', sans-serif;
}

aside {
	width: 30%;
}

aside > ul > li {
	padding: 10px;
	margin: 10px;
}

main {
	width: 100%;
}

.h1 {
	color: white;
	text-align: center;
	font-family: 'Melancholight';
	font-size: 120px;
}

@media screen (max-width: 640px){
	.header .h1 {
		font-size: 80px;
	}

}