.right-nav {

	display: flex;
	justify-content: center;
	align-items: center;
}

.left-nav {

	display: flex;
	justify-content: center;
	align-items: center;
}

div > ul > li {
	list-style-type: none;
	padding: 0px 5px;

}




.jumbotron {
	   margin-top: 14%;
	   padding-top: 300px;
	   background-image:url(img/che.jpg);
	   z-index: 1;
}

.test{
	background-color: rgba(0,0,0,0.3);
	transition: all 0.5s ease;
	z-index: 10000;
}

.test:hover{
	background-color: rgba(0,0,0,0);
	z-index: 10000;
}

.container {
	color : white;
}



/*.right-nav > li {

	list-style-type: none;
	padding: 0px 5px;
}*/

.divright {
	right : 10%;
}

header {

	
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1;
	background-color: rgb(170, 236, 230);;
}

div {
	display: block;

}

footer{
	bottom: 0;
	left: 0;
	right: 0;
	text-align: center;
	background-color: #f2f2f2;
	height: 200px;
}



.flexbox {

	display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
}


section {
	display: flex;
	justify-content: space-around;
	align-items: center;
	/*padding: 50px;*/
	padding: 20px 50px;

}

article {

	border : 1px black solid;
	padding: 30px;
    margin: 21px;
}

@font-face {
	font-family: 'Roboto'; 
	src: url("https://fonts.googleapis.com/css?family=Roboto");
}

html {
	font-family: 'Roboto', sans-serif;
}

aside {
	width: 30%;
}

aside > ul > li {
	padding: 10px;
	margin: 10px;
}

main {
	width: 100%;
}

.h1 {
	color: white;
	text-align: center;
	font-family: 'Melancholight';
	font-size: 120px;
}